{% extends 'base.html' %}

{% block title %}
  {% if not form.instance.pk %}Новый пост{% else %}Редактирование поста{% endif %}
{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">       
          {% if not form.instance.pk %}Новый пост{% else %}Редактирование поста{% endif %}
        </div>
        <div class="card-body">
          {% include 'includes/errors_check.html' %}
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'includes/fields_form.html' %}
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">
                {% if not form.instance.pk %}Новый пост{% else %}Редактирование поста{% endif %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}