{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
  {% if validlink %}
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            Введите новый пароль
          </div>
          <div class="card-body">
            {% include 'includes/errors_check.html' %}
            <form method="post"
              {% if action_url %}
                action="{% url action_url %}"
              {% endif %}
            >
              {% csrf_token %}
              {% include 'includes/fields_form.html' %}
              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                  Назначить новый пароль
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% else %}
  {% with card_header='Ошибка' card_body='Ссылка сброса пароля содержит ошибку или устарела' %}
    {% include 'users/includes/card.html' %} 
  {% endwith %}
  {% endif %}
{% endblock %}